.header {
    background: var(--gray-800);
    /* var(--gray-800) = var is not defined here */
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
  }
  
  .header img {
    height: 2rem;
  }
  